<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-row align-items-center">

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" formControlName="email">
      </div>
    </div>

    <div class="col-auto " [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="password" class="form-control mb-2" id="inlineFormInput" placeholder="Password" formControlName="password">
    </div>

    <div class="col-auto">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary mb-2">Sign in</button>
    </div>

    <div class="col-auto">
      <button (click)="hideReg = !hideReg; openRegister()"  class="btn btn-primary mb-2">Register</button>
    </div>
  </div>
</form>
