<div class="wrapper">

  <div class="wrapper-center">
    <header id="header" class="header">



              <section class="title">
                <h1 class="title__text">Pick me</h1>
              </section>

              <nav class="navigation">
                  <ul class="navigation__list">
                    <li class="navigation__item">ВК</li>
                    <li class="navigation__item">TW</li>
                    <li class="navigation__item">TL</li>
                    <li class="navigation__item">Fb</li>
                    <li class="navigation__item">Ca</li>
                  </ul>
              </nav>


    </header>

  </div>

</div>
